<div [@routerTransition]>
    <form class="m-content" #roleForm="ngForm" novalidate autocomplete="off">
      <div class="m-portlet m-portlet__header m-portlet-mobile">
        <div class="m-portlet__nav">
          <ul >
            <li *ngIf="isGranted('Pages.Group9.Hang.Add')"><a routerLink="/app/admin/manufacturer-car-add"><i class="flaticon-add"></i>
              Thêm mới</a></li>
            <li *ngIf="isGranted('Pages.Group9.Hang.Update')" ><a [class.disabled]="!currentId"  
                [routerLink]="['/app/admin/manufacturer-car-edit', {id : currentId}]"><i class="flaticon-edit"></i> Chỉnh
              sửa</a></li>
        
            <!-- <li *ngIf="isGranted('Pages.Group9.Hang.Delete')" style="cursor: pointer;" ><a ><i
              class="flaticon-close"></i>Xóa</a>
            </li> -->
            <li>
                <span (click)="delete()" [class.disabled]="!currentId">
                    <i class="fa fa-trash"></i> Xóa
                </span>
            </li>
            <li style="cursor: pointer;"><a ><i class="flaticon-search"></i> Tìm kiếm</a></li>
          </ul>
        </div>
</div>

<div class="m-subheader pd-0">
    <div class="d-flex align-items-center">
        <div class="mr-auto col-xs-6">
            <span class="m-section__sub m-section__sub--separator">
                {{l("Trang chủ")}}
            </span>
            <span class="m-section__sub m-section__sub--separator active">
                <a routerLink="/app/admin/car-maintenance">{{l("Quản lí hãng xe")}}</a>
            </span>
        </div>
    </div>
</div>
<div class="m-portlet m-portlet-mobile">
    <div class="m-portlet__body">
        <form #filterForm="ngForm">
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="ng-tns-c10-9" for="ModelCarName">Mã hãng xe</label>
                        <div class="form-group">
                        <select class="form-control" id="maHang" name="maHang" [(ngModel)]="selectedMaHang"
                            (change)='onOptionsSelected_MaHang($event)'>
                            <option *ngFor="let item of empty_value" value="{{item.value}}">{{item.name}}
                            <option *ngFor="let item of listHangXe" value="{{item.hang_MaHang}}">{{item.hang_MaHang}}
                            </option>
                        </select>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="form-group">
                        <label class="ng-tns-c10-9" for="ngayBaoTri">Tên hãng xe</label>
                        <div class="form-group">
                            <select class="form-control" id="tenHang" name="tenHang" [(ngModel)]="selectedTenHang"
                                (change)='onOptionsSelected_TenHang($event)'>
                                <option *ngFor="let item of empty_value" value="{{item.value}}">{{item.name}}
                                <option *ngFor="let item of listHangXe" value="{{item.hang_TenHang}}">{{item.hang_TenHang}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <button type="submit" hidden [disabled]="!filterForm.form.valid"></button>
        </form>
        <div class="row align-items-center">
            
            <!--<Primeng-TurboTable-Start>-->
            <div class="primeng-datatable-container">
                
                <p-table #dataTable [value]="primengTableHelper.records"
                    [paginator]="primengTableHelper.totalRecordsCount === 0 ? false : true"
                    [rows]="primengTableHelper.defaultRecordsCountPerPage"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                    totalRecords="totalRecords" pageLinks="3">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                Checkbox
                            </th>
                            <th>
                                Số Thứ Tự
                            </th>
                            <th>
                                Mã hãng xe
                            </th>
                            <th>
                                Tên hãng xe
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit">
                        <tr>
                            <td>
                                <label class="m-radio" for="Theme_Default-{{record.ma}}">
                                    <input id="Theme_Default-{{record.ma}}" name="Theme" [(ngModel)]="currentId" value="{{record.ma}}"
                                        type="radio">
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <span>{{record['no']}}</span>
                            </td>
                            <td>
                                <span>{{record.hang_MaHang  }}</span>
                            </td>
                            <td>
                                <span>{{record.hang_TenHang}}</span>
                            </td>
                           
                    
                        </tr>
                    </ng-template>
                </p-table>
                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                    {{l('NoData')}}
                </div>
            </div>
            <!--<Primeng-TurboTable-End>-->
        </div>
    </div>
</div>