<div [@routerTransition]>
    <form class="m-content" #roleForm="ngForm" novalidate (ngSubmit)="Save_Confirm()" autocomplete="off">
        <div class="m-portlet m-portlet__header m-portlet-mobile">
            <div class="m-portlet__nav">
                <ul>
                    <li>
                        <a style="cursor: pointer;" (click)="Cancel_Confirm()"><i class="fa fa-times"></i> Hủy</a>
                    </li>
                    <li>
                        <a style="cursor: pointer;" (click)="Save_Confirm()"><i class="fa fa-check"></i> Lưu</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="m-subheader">
            <div class="d-flex align-items-center">
                <div class="mr-auto col-xs-6">
                    <span style="cursor: pointer;" class="m-section__sub m-section__sub--separator">
                        Trang chủ
                    </span>
                    <span class="m-section__sub m-section__sub--separator active">
                        <a routerLink="/app/admin/driver-schedule">Quản lý hoạt động tài xế</a>
                    </span>
                    <span style="cursor: pointer;" class="m-section__sub m-section__sub--separator">
                        Thêm lịch trình tài xế
                    </span>
                </div>
            </div>
        </div>

        <!-- #region -->
        <div class="m-content">
            <div class="m-portlet m-portlet-mobile">
                <div class="m-portlet__body">
                    <div class="m-form m-form--label-align-right">
                        <form class="ng-tns-c10-9 ng-pristine ng-valid ng-touched" autocomplete="off" novalidate="">
                            <div class="form-body">

                                <div class="row m--margin-bottom-10">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label class="ng-tns-c10-9" for="maLichTrinh">Mã Lich Trình *</label>
                                           
                                            <select class="form-control" id="maLichTrinh" name="maLichTrinh" [(ngModel)]="SCHEDULE_ID"
                                                (change)='onOptionsSelected($event)'>
                                                <option *ngFor="let item of listScheduleID" value="{{item.ma}}">{{item.ma}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label class="ng-tns-c10-9" for="CarManufacturer">Mã Tài Xế *</label>
                                            <div class="input-group">
                                                <input
                                                    class="form-control ng-pristine ng-valid ng-touched text-capitalize"
                                                    id="CarManufacturer" readonly name="CarManufacturer" type="text"
                                                    ng-reflect-name="carTypeText" [(ngModel)]="DRIVER_ID" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row m--margin-bottom-10">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="ng-tns-c10-9" for="fromdate">Ngày bắt đầu</label>
                                            <div class="input-group">
                                                <input
                                                    class="form-control ng-pristine ng-valid ng-touched text-capitalize"
                                                    id="fromdate" readonly name="fromdate" type="text"
                                                    ng-reflect-name="date" [(ngModel)]="start_date_" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="ng-tns-c10-9" for="todate">Ngày kết thúc</label>
                                            <div class="input-group">
                                                <input
                                                    class="form-control ng-pristine ng-valid ng-touched text-capitalize"
                                                    id="todate" readonly name="todate" type="text"
                                                    ng-reflect-name="todate" [(ngModel)]="end_date_" required>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row m--margin-bottom-10">
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="ng-tns-c10-9" for="km_estimate">Số Km Ước tính</label>
                                            <div class="input-group">
                                                <input class="form-control ng-pristine ng-valid ng-touched"
                                                    id="km_estimate" readonly name="km_estimate" read-only
                                                    [(ngModel)]="KM_ESTIMATE" type="number"
                                                    ng-reflect-name="km_estimate" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="ng-tns-c10-9" for="km_actual">Số Km Thực tế</label>
                                            <div class="input-group">
                                                <input class="form-control ng-pristine ng-valid ng-touched"
                                                    id="km_actual" name="km_actual" [(ngModel)]="KM_ACTUAL"
                                                    type="number" ng-reflect-name="km_actual" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m--margin-bottom-10">
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label class="ng-tns-c10-9" for="FuelNorms">Nhiên liệu tiêu thụ (lít/KM thực
                                                tế)
                                                *</label>
                                            <div class="input-group">
                                                <input class="form-control ng-pristine ng-valid ng-touched"
                                                    id="FuelNorms"  name="Feul" [(ngModel)]="FUEL_ACTUAL"
                                                    type="number" ng-reflect-name="carTypeText" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row m--margin-bottom-10">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label class="ng-tns-c10-9" for="Type-of-fuel">Loại nhiên liệu *</label>
                                                    <select id="Type-of-fuel"
                                                        class="form-control ng-pristine ng-valid ng-touched" name="Type-of-fuel"
                                                        [(ngModel)]="KM_ACTUAL" ng-reflect-name="carTypeText">
                                                        <option value="X" selected="selected">Xăng</option>
                                                        <option value="D">Dầu</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
        <!--dialog xác nhận Lưu dữ liệu-->
        <p-dialog styleClass="dialog-width" header="Lưu" [(visible)]="Save_Dialog" [style]="{width: '2000vw'}"
            [baseZIndex]="10000">
            Lưu toàn bộ dữ liệu ?
            <p-footer>
                <button type="button" style="background-color: #5867DD; margin-right: 20px;" pButton
                    (click)="Save_Dialog=false;insert()" label="Yes"></button>
                <button type="button" pButton (click)="Save_Dialog=false;" label="No"
                    class="ui-button-secondary"></button>
            </p-footer>


        </p-dialog>

        <!--dialog xác nhận Huy-->
        <p-dialog styleClass="dialog-width" header="Lưu" [(visible)]="Cancel_Dialog" [style]="{width: '2000vw'}"
            [baseZIndex]="10000">
            Bạn muốn huỷ bỏ tiến trình ?
            <p-footer>
                <button type="button" style="background-color: #5867DD; margin-right: 20px;" pButton
                    (click)="Cancel_Dialog=false;ClearAllInputValue()" label="Yes"></button>
                <button type="button" pButton (click)="Cancel_Dialog=false" label="No"
                    class="ui-button-secondary"></button>
            </p-footer>
        </p-dialog>