
<div class="m-content">
    <div class="m-portlet m-portlet__header m-portlet-mobile">
        <div class="m-portlet__nav">
            <ul>
                <li>
                    <a (click)="add()"><i class="fa fa-save"></i> Lưu</a>
                </li>
                <li>
                    <span class="m-section__sub m-section__sub--separator active">
                        <a routerLink="/app/admin/maintain-cars-notify">Hủy</a>
                      </span>
                </li>
              </ul>
        </div>
    </div>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <span class="m-section__sub m-section__sub--separator">
          {{l("Trang chủ")}}
        </span>
                <span class="m-section__sub m-section__sub--separator active">
          {{l("Quản lý thông báo bảo trì xe")}}
        </span>
            </div>
        </div>
    </div>

    <div class="m-portlet m-portlet-mobile">
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right">
                <form class="ng-tns-c10-9 ng-pristine ng-valid ng-touched" autocomplete="off" novalidate="">
                    <div class="form-body">
                        <div class="row m--margin-bottom-10">
                           
                        <div class="col-md-3">
                            <label for="maXe">Mã Xe</label>
                            <div class="form-group">

                                <select class="form-control" id="maXe" name="maXe" [(ngModel)]="selectedLevel">
                                    <option *ngFor="let item of xe_list" value="{{item.ma}}">{{item.ma}}</option>
                                </select>
                            </div>
                        </div>
     
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <label class="ng-tns-c10-9" for="ModelCarName">Ghi chú *</label>
                                      <div class="input-group">
                                        <input class="form-control ng-pristine ng-valid ng-touched text-capitalize" id="ghichu" 
                                        name="ghichu" type="text" ng-reflect-name="carTypeText" [(ngModel)]="ghichu" required>
                                      </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>